Repository christianwcweiss/AlphaRai: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-app, pylint-quant-core, pylint-functional-tests, pylint-lambdas

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-private-key
      - id: check-added-large-files
      - id: check-yaml        # Validate YAML syntax
      - id: check-json        # Validate JSON syntax
      - id: check-merge-conflict  # Detect unresolved merge conflicts

  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        args: ["--line-length", "120"]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "120"]

  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: ["--max-line-length", "120", "--ignore", "E203,W503,E266"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        args: ["--ignore-missing-imports"]
        additional_dependencies:
          [
            types-pytz,
            types-croniter
          ]

  - repo: local
    hooks:
      - id: pylint-app
        name: pylint (app)
        entry: python ./bin/pre_commit/pylint_wrapper.py
        language: system
        types: [python]
        files: ^code/app/.*\.py$

      - id: pylint-quant-core
        name: pylint (quant_core)
        entry: python ./bin/pre_commit/pylint_wrapper.py
        language: system
        types: [python]
        files: ^code/quant_core/.*\.py$

      - id: pylint-functional-tests
        name: pylint (functional_tests)
        entry: python ./bin/pre_commit/pylint_wrapper.py
        language: system
        types: [python]
        files: ^code/functional_tests/.*\.py$

      - id: pylint-lambdas
        name: pylint (lambdas)
        entry: python ./bin/pre_commit/pylint_wrapper.py
        language: system
        types: [python]
        files: ^code/lambdas/.*\.py$

Database now stores secrets so removed from gitignore
  .gitignore
Due: none

Some Bugfixes regarding newly started project
  code/app/app.py
  code/app/db/database.py
  code/app/pages/confluences/confluences.py
  code/app/services/db/cache/trade_history.py
  code/app/services/relay_bot.py
Due: pylint-app

Fix empty databases
  code/app/pages/accounts/accounts_overview/accounts_overview_render.py
  code/app/pages/analytics/overview/overview_callbacks.py
  code/app/pages/analytics/performance/performance_callbacks.py
Due: pylint-app

added calendar code
  code/app/pages/cockpit/cockpit.py
  code/app/pages/cockpit/cockpit_render.py
Due: pylint-app

Some changes
  code/app/app.py
  code/app/components/atoms/buttons/general/button.py
  code/app/components/atoms/buttons/general/floating_action_button.py
  code/app/components/molecules/modals/trades/new_trade.py
  code/quant_core/quant_core/utils/time_utils.py
Due: pylint-app, pylint-quant-core

Added github action
  .github/workflows/code_checks.yaml
  code/app/app.py
  code/app/components/atoms/buttons/general/floating_action_button.py
  code/app/components/molecules/modals/trades/new_trade.py
  code/app/constants/colors_test.py
  code/app/pages/analytics/overview/overview_callbacks.py
  code/app/pages/analytics/performance/performance_callbacks.py
  code/app/pages/cockpit/cockpit.py
  code/app/pages/cockpit/cockpit_render.py
  code/app/services/relay_bot.py
  code/quant_core/quant_core/utils/time_utils.py
Due: pylint-app, pylint-quant-core

Another test of GH Actions
  .github/workflows/code_checks.yaml
  code/quant_core/requirements.txt
  requirements_dev.txt
Due: none

Another Test
  .github/workflows/code_checks.yaml
Due: none

Dependencies installation in gh action
  .github/workflows/code_checks.yaml
  poetry.lock
  pyproject.toml
Due: none

Change to windows runner
  .github/workflows/code_checks.yaml
Due: none

Add missing requirements
  requirements.txt
Due: none

Switch to Mac
  code/app/pages/cockpit/cockpit.py
  code/app/pages/cockpit/cockpit_render.py
  requirements.txt
  requirements_dev.txt
Due: pylint-app

Somewhere in the middle, start script
  code/app/app.py
  code/app/components/atoms/buttons/general/button.py
  code/app/components/molecules/cards/accounts/account_card.py
  code/app/db/database.py
  code/app/models/cache/balance_over_time.py
  code/app/models/main/account.py
  code/app/models/main/account_config.py
  code/app/models/main/confluence.py
  code/app/models/main/general_setting.py
  code/app/models/main/grid_bot.py
  code/app/models/main/main_base.py
  code/app/pages/accounts/account_details/account_details_callbacks.py
  code/app/pages/cockpit/cockpit.py
  code/app/pages/cockpit/cockpit_callbacks.py
  code/app/pages/cockpit/cockpit_render.py
  code/app/services/db/main/account.py
  code/app/services/db/main/account_config.py
  code/quant_core/quant_core/entities/dto/account.py
Due: pylint-app, pylint-quant-core

Some improvements
  code/app/components/atoms/buttons/general/button.py
  code/app/components/atoms/card/card.py
  code/app/components/atoms/layout/layout.py
  code/app/components/atoms/text/subsection.py
  code/app/components/molecules/cards/accounts/symbol_card.py
  code/app/components/molecules/modals/trades/new_trade.py
  code/app/components/molecules/toolbars/analytics_toolbar_test.py
  code/app/constants/colors.py
  code/app/models/main/account_config.py
  code/app/pages/accounts/account_details/account_details_callbacks.py
  code/app/pages/accounts/account_details/account_details_render.py
  code/app/pages/cockpit/cockpit.py
  code/app/pages/cockpit/cockpit_callbacks.py
  code/app/pages/cockpit/cockpit_render.py
  code/app/services/db/main/account_config.py
  code/app/services/db/main/account_config_test.py
  code/app/services/relay_bot.py
  code/app/services/trade_router.py
  code/quant_core/quant_core/enums/trade_direction.py
Due: pylint-app, pylint-quant-core

Latest state
  code/app/db/database.py
  code/app/models/main/account.py
  code/app/models/main/confluence.py
  code/app/models/main/confluence_config.py
  code/app/services/db/main/confluence.py
  code/app/services/db/main/confluence_config.py
  code/quant_core/quant_core/confluences/adaptive_super_trend/ast_confluence.py
  code/quant_core/quant_core/confluences/confluence.py
  code/quant_core/quant_core/confluences/nadaraya_watson_envelope/nwe_envelope.py
  code/quant_core/quant_core/enums/confluences.py
Due: pylint-app, pylint-quant-core

Test
  code/quant_core/quant_core/clients/binance/binance_client.py
  code/quant_core/quant_core/trader/platforms/binance.py
  requirements.txt
Due: pylint-quant-core

Somewhere binance...
  code/quant_core/quant_core/clients/binance/__init__.py
  code/quant_core/quant_core/clients/binance/binance_client.py
Due: pylint-quant-core

Test implementation of confluences
  code/app/pages/accounts/account_details/account_details_callbacks.py
  code/app/pages/accounts/account_details/account_details_render.py
  code/app/services/confluence_orchestrator.py
  code/app/services/db/main/confluence_config.py
  code/app/services/trade_router.py
  code/quant_core/quant_core/utils/trade_utils.py
  code/quant_core/quant_core/utils/trade_utils_test.py
Due: pylint-app, pylint-quant-core

Some Bugfixes regarding newly started project
  code/app/app.py
  code/app/db/database.py
  code/app/pages/confluences/confluences.py
  code/app/services/relay_bot.py
Due: pylint-app

Fix empty databases
  code/app/pages/analytics/overview/overview_callbacks.py
  code/app/pages/analytics/performance/performance_callbacks.py
Due: pylint-app

Some changes
  code/app/app.py
  code/app/components/atoms/buttons/general/floating_action_button.py
  code/app/components/molecules/modals/trades/new_trade.py
  code/quant_core/quant_core/utils/time_utils.py
Due: pylint-app, pylint-quant-core

Added github action
  .github/workflows/code_checks.yaml
  code/app/app.py
  code/app/components/atoms/buttons/general/floating_action_button.py
  code/app/components/molecules/modals/trades/new_trade.py
  code/app/pages/analytics/overview/overview_callbacks.py
  code/app/pages/analytics/performance/performance_callbacks.py
  code/app/pages/cockpit/cockpit.py
  code/app/pages/cockpit/cockpit_render.py
  code/app/services/relay_bot.py
  code/quant_core/quant_core/utils/time_utils.py
Due: pylint-app, pylint-quant-core

Another test of GH Actions
  .github/workflows/code_checks.yaml
  requirements_dev.txt
Due: none

Dependencies installation in gh action
  .github/workflows/code_checks.yaml
Due: none

Switch to Mac
  code/app/pages/cockpit/cockpit.py
  code/app/pages/cockpit/cockpit_render.py
  requirements_dev.txt
Due: pylint-app

Somewhere in the middle, start script
  code/app/app.py
  code/app/components/atoms/buttons/general/button.py
  code/app/db/database.py
  code/app/models/main/account.py
  code/app/models/main/account_config.py
  code/app/models/main/confluence.py
  code/app/models/main/general_setting.py
  code/app/pages/cockpit/cockpit.py
  code/app/pages/cockpit/cockpit_callbacks.py
  code/app/pages/cockpit/cockpit_render.py
  code/app/services/db/main/account.py
  code/app/services/db/main/account_config.py
  code/quant_core/quant_core/entities/dto/account.py
Due: pylint-app, pylint-quant-core

v_0_3_hotfix
  code/app/app.py
  code/app/components/atoms/buttons/general/button.py
  code/app/components/molecules/modals/trades/new_trade.py
  code/app/models/main/account.py
  code/app/models/main/account_config.py
  code/app/models/main/confluence.py
  code/app/models/main/general_setting.py
  code/app/pages/cockpit/cockpit.py
  code/app/pages/cockpit/cockpit_callbacks.py
  code/app/pages/cockpit/cockpit_render.py
  code/app/pages/confluences/confluences.py
  code/app/services/db/main/account.py
  code/app/services/db/main/account_config.py
  code/quant_core/quant_core/entities/dto/account.py
  requirements_dev.txt
Due: pylint-app, pylint-quant-core

Somewhere here in the middle
  code/app/app.py
  code/app/assets/styles.css
  code/app/components/frame/top_bar.py
  code/app/components/molecules/banners/__init__.py
  code/app/components/molecules/banners/bot_status/__init__.py
  code/app/components/molecules/banners/bot_status/banner.py
  code/app/db/database.py
  code/app/models/cache/signals.py
  code/app/pages/cockpit/cockpit.py
  code/app/pages/cockpit/cockpit_callbacks.py
  code/app/pages/cockpit/cockpit_constants.py
  code/app/pages/cockpit/cockpit_render.py
  code/app/services/db/cache/signals.py
  code/app/services/relay_bot.py
Due: pylint-app
